@import "tailwindcss";

:root {
  --bg-main-gradient: linear-gradient(
    to right,
    #873ae1 0%,
    #6D3EDF 50%,
    #5742DB 120%
  );
}

/* Dark scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 16px;
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
  border: 3px solid #222; /* Makes the thumb itself thinner */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #0E0F1A;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bg-main-gradient {
  background: var(--bg-main-gradient)
}

.text-gradient {
  background: var(--bg-main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-card-big {
  background: #20203B;
}

.bg-card-small {
  background: #222438;
}

.btn-default {
  background: var(--bg-main-gradient);
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: larger;
  border-radius: 9999px;
}